on boot
    # Screen max brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    start vendor.light-hal-2-0

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.realme_trinket
    class hal
    user system
    group system
    shutdown critical
    disabled
